PORT=5001
NODE_ENV=development

DATABASE_PATH=./database.sqlite

SALT_ROUNDS=8

JWT_CUSTOMER_ACCESS_SECRET=your-secret-key-change-in-production
JWT_CUSTOMER_ACCESS_EXPIRES_IN=30m

JWT_CUSTOMER_REFRESH_SECRET=your-refresh-secret-key-change-in-production
JWT_CUSTOMER_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:5173
